{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Champions</h1>
</div>

<ul class="thumbnails">
	{% for champion in champions %}
		<li class="">
			<a href="champions/{{ champion.name }}">
				<div class="thumbnail">
					<img src="static/images/champions/thumbnails/{{ champion.thumbnail|default("ChampionSqaure.png") }}" alt="{{ champion.name }}">

					<span class="champion-name">{{ champion.name }}</span>
				</div>
			</a>
		</li>
	{% endfor %}
</ul>

{% endblock %}
