{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Champion Information</h1>
</div>

<div class="row" id="champ-info">
	<img id="champion-splash" src="{{ root_url }}static/images/champions/splash/{{ champion.name|lower }}.jpg" class="span4 thumbnail">

	<div class="span6">
		<h1>{{ champion.name|capitalize }}</h1> 
		<h6>{{ champion.title }}</h6>

		<p><strong>Released: </strong>{{ champion.rel_date }}</p>

		<p><strong>Wiki Link: </strong><a href="http://leagueoflegends.wikia.com/wiki/{{ champion.name|capitalize }}">http://leagueoflegends.wikia.com/wiki/{{ champion.name|capitalize }}</a></p>

	</div>
</div>

<div class="row">
	<div class="span12">
<h2>{{ champion.name|capitalize }}'s League Statistics</h2>

<div class="well">
	<h2>Wins: {{ champion.wins }}</h2>
	<h2>Losses: {{ champion.losses }}</h2>

	<h3>Win Percentage: {{ champion.win_percentage }}</h3>

	<h4>Popularity: {{ champion.popularity }}</h4>
</div>
</div>
</div>

<div class="row top-summoners">
	<a href="summoners/{{ summoner_wins.name }}">
		<div class="span4">
			<h3>Top Summoner by Wins</h3>

			<p><strong> Name: </strong>{{ summoner_wins.name }}</p>
			<p><strong> Wins: </strong>{{ summoner_wins.wins }}</p>
			<p><strong> Win Percentage: </strong>{{ summoner_wins.win_percentage }}</p>
		</div>
	</a>

	<a href="summoners/{{ summoner_percent.name }}">
		<div class="span4 offset4">
			<h3>Top Summoner by Percentage</h3>

			<p><strong> Name: </strong>{{ summoner_percent.name }}</p>
			<p><strong> Wins: </strong>{{ summoner_percent.wins }}</p>
			<p><strong> Win Percentage: </strong>{{ summoner_percent.win_percentage }}</p>
		</div>
	</a>
</div>

<h2>Recent Matches</h2>

<div class="well">
	{% for match in matches %}
	<a href="/game/{{ match.id }}">
		<div class="well row {{ match.winner }} match-row">
			<img class="champion-thumbnail" src="{{ match.team1.champion1.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team1.champion2.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team1.champion3.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team1.champion4.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team1.champion5.thumbnail }}">

			<strong>VS</strong>

			<img class="champion-thumbnail" src="{{ match.team2.champion1.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team2.champion2.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team2.champion3.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team2.champion4.thumbnail }}">
			<img class="champion-thumbnail" src="{{ match.team2.champion5.thumbnail }}">
		</div>
	</a>
	{% endfor %}
</div>





{% endblock %}