{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Champion Information</h1>
</div>

<div class="row" id="champ-info">
	<img id="champion-splash" src="{{ root_url }}static/images/champions/splash/{{ champion.name|lower }}.jpg" class="span4 thumbnail">

	<div class="span6">
		<h1>{{ champion.name|capitalize }}</h1> 
		<h6>{{ champion.title }}</h6>

		<p><strong>Released: </strong>{{ champion.rel_date }}</p>

		<p><strong>Wiki Link: </strong><a href="http://leagueoflegends.wikia.com/wiki/{{ champion.name|capitalize }}">http://leagueoflegends.wikia.com/wiki/{{ champion.name|capitalize }}</a></p>

	</div>
</div>

<div class="row">
	<div class="span12">
<h2>{{ champion.name|capitalize }}'s League Statistics</h2>

<div class="well">
	<h2>Wins: {{ champion.wins }}</h2>
	<h2>Losses: {{ champion.losses }}</h2>

	<h3>Win Percentage: {% if champion.wins+champion.losses != 0 %}{{ (champion.wins/(champion.wins+champion.losses))*100 }}{% endif %}%</h3>

	<h4>Popularity: {{ champion.popularity }}</h4>
</div>
</div>
</div>

<div class="row-fluid top-summoners">
	<div class="span4 info-block">
		{% if summoner_wins %}
		<a href="{{ root_url }}summoners/{{ summoner_wins.summoner.summoner_name }}">
		{% endif %}
			<h3>Top Summoner by Wins</h3>

		{% if summoner_wins %}
			<p><strong> Name: </strong>{{ summoner_wins.summoner.summoner_name }}</p>
			<p><strong> Wins: </strong>{{ summoner_wins.wins }}</p>
		</a>
		{% endif %}
	</div>

	<div class="span4 offset4 info-block">
		{% if summoner_percent %}
		<a href="{{ root_url }}summoners/{{ summoner_percent.summoner.summoner_name }}">
		{%endif %}
			<h3>Top Summoner by Percentage</h3>

		{% if summoner_percent %}
			<p><strong> Name: </strong>{{ summoner_percent.summoner.summoner_name }}</p>
			<p><strong> Win Percentage: </strong>{{ (summoner_percent.wins/summoner_percent.games_played)*100 }}%</p>
		</a>
		{% endif %}
	</div>
</div>

<h2>Recent Matches</h2>

<div class="well">
	{% for match in matches %}
	<div class="row-fluid">
		<a href="/game/{{ match.id }}">
			<div class="span12 {{ match.winner }} match-row info-block">
				<div class="row-fluid">
					<div class="match-team span5">
						<div class="span2"></div>
						{% for member in match.teams[0].members %}
						<img src="{{ root_url }}static/images/champions/thumbnails/{{ member.champion.thumbnail }}" class="thumbnail span2" title="{{ member.champion.name }}">
						{% endfor %}
					</div>

					<div class="span2">
						Date: {{ match.date }}<br>
						<strong>VS</strong><br>
					</div>


					<div class="match-team span5">
						{% for member in match.teams[1].members %}
						<img src="{{ root_url }}static/images/champions/thumbnails/{{ member.champion.thumbnail }}" class="thumbnail span2" title="{{ member.champion.name }}">
						{% endfor %}
					</div>
				</div>
			</div>
		</a>
	</div>
	<br>
	{% endfor %}
</div>





{% endblock %}