{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Welcome to {{ org }} League Statistics!</h1>
</div>

<p> 
	League Statistics is an application that is designed to help track a
	group's information from League of Legends games. It is useful for
	groups that compete against each other internally such as university
	play groups, casual leagues, or even small, competitive tournament groups.
</p>

<p>
	To use League Statistics, click one of the navigation links above.
	Each one will take you to a different set of statistics.
</p>

{% endblock %}