{% extends 'base.html' %}

{% block content %}

<div class="page-header">
	<h1>Summoner Information</h1>
</div>

<div class="row">
	<img src="{% if summoner.picture %}{{ root_url }}static/images/summoners/{{ summoner.picture }}{% else %}http://placehold.it/310x310{% endif %}" class="span4 thumbnail">

	<div class="span6">
		<h1>{{ summoner.name|capitalize }}</h1>
		<p><strong>LoL King Profile: </strong><a href="http://www.lolking.net/summoner/na/{{ summoner.summoner_id }}">http://www.lolking.net/summoner/na/{{ summoner.summoner_id }}</a></p>
	</div>
</div>
<br>

<h2>{{ summoner.summoner_name|capitalize }}'s League Statistics</h2>
<div class="row">
	<div class="span12">

		<div class="well">
			<h2>Wins: {{ summoner.wins }}</h2>
			<h2>Losses: {{ summoner.losses }}</h2>

			<h3>Win Percentage: {% if summoner.wins+summoner.losses != 0 %}{{ (summoner.wins/(summoner.wins + summoner.losses))*100 }}{% endif %}</h3>

			<h4>Overall Rank: {{ summoner.rank }}</h4>
		</div>
	</div>
</div>

<h2>Top Champions</h2>
<div class="row-fluid">
	<div class="span4 info-block">
		<div class="row-fluid">
			<div class="span4">
				<img src="{{ root_url }}static/images/champions/thumbnails/{{ champ_wins.champion.thumbnail }}" class="thumbnail">
			</div>
			<div>
		<h3 class="center">Most Wins</h3>
				<h5>{{ champ_wins.champion.name }}</h5>
				<span class="tag"># Games: </span>
				<span class="field">{{ champ_wins.wins }}</span>
			</div>
		</div>
	</div>

	<div class="span4 info-block">
		<div class="row-fluid">
			<div class="span4">
				<img src="{{ root_url }}static/images/champions/thumbnails/{{ champ_percent.champion.thumbnail }}" class="thumbnail">
			</div>
			<div>
		<h3 class="center">Highest Win Percentage</h3>
				<h5>{{ champ_percent.champion.name }}</h5>
				<span class="tag">Win %: </span>
				<span class="field">{{ (champ_percent.wins/champ_percent.games_played)*100 }}%</span>
			</div>
		</div>
	</div>

	<div class="span4 info-block">
		<div class="row-fluid">
			<div class="span4">
				<img src="{{ root_url }}static/images/champions/thumbnails/{{ champ_popular.champion.thumbnail }}" class="thumbnail">
			</div>
			<div>
		<h3 class="center">Most Used</h3>
				<h5>{{ champ_popular.champion.name }}</h5>
				<span class="tag"># Games: </span>
				<span class="field">{{ champ_popular.games_played }}</span>
			</div>
		</div>
	</div>
</div>
<br>

<h2>Recent Matches</h2>

<div class="well">
	{% for match in matches %}
	<div class="row-fluid">
		<a href="/game/{{ match.id }}">
			<div class="span12 {{ match.winner }} match-row info-block">
				<div class="row-fluid">
					<div class="match-team span5">
						<div class="span2"></div>
						{% for member in match.teams[0].members %}
						<img src="{{ root_url }}static/images/champions/thumbnails/{{ member.champion.thumbnail }}" class="thumbnail span2" title="{{ member.champion.name }}">
						{% endfor %}
					</div>

					<div class="span2">
						Date: {{ match.date }}<br>
						<strong>VS</strong><br>
					</div>


					<div class="match-team span5">
						{% for member in match.teams[1].members %}
						<img src="{{ root_url }}static/images/champions/thumbnails/{{ member.champion.thumbnail }}" class="thumbnail span2" title="{{ member.champion.name }}">
						{% endfor %}
					</div>
				</div>
			</div>
		</a>
	</div>
	<br>
	{% endfor %}
</div>

{% endblock %}