{% extends "base.html" %}

{% block content %}

<div class="page-header">
	<h1>Summoner Statistics</h1>
</div>

<p>To check out a summoner's statistics, enter their name below.</p>

<div class="row-fluid">
	<form action="" class="center form-search well span4" method="post">
		<div class="row-fluid">
			<div class="center">
			<input type="text" class="search-query input-medium" name="search-term" value="{{ search }}">
			<button type="submit" class="btn btn-large">Search</button>
			</div>
		</div>
	</form>
</div>

{% block search_results %}{% endblock %}

{% endblock %}
